/* Custom styles added to demo */

:root {
    --main-width: 900px;
    --nav-width: var(--main-width);
    --fixed-header-height: var(--header-height);
}

iframe {
    border-radius: var(--radius) !important;
}

.entry-cover img {
    border: 1px solid var(--border);
}

.nav > .logo {
    margin: auto var(--gap) auto 0;
}

.nav {
    box-sizing: border-box;
    max-width: calc(var(--main-width) + var(--gap) * 2);
    padding-inline: var(--gap);
}

.header {
    position: fixed;
    inset: 0 0 auto;
    z-index: 100;
    min-height: var(--fixed-header-height);
    background: color-mix(in srgb, var(--theme) 80%, transparent);
    border-bottom: 1px solid color-mix(in srgb, var(--border) 60%, transparent);
    backdrop-filter: blur(16px) saturate(160%);
    -webkit-backdrop-filter: blur(16px) saturate(160%);
}

.main {
    padding-top: calc(var(--gap) + var(--fixed-header-height));
}

.nav > #menu {
    margin: auto var(--gap) auto auto;
}

.nav-switches {
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    margin: auto 0;
}

.nav-switches .lang-switch {
    display: inline-flex;
    margin: auto 4px;
}

.nav-switches .lang-switch li {
    display: inline-flex;
}

.nav-switches .lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    :root {
        --fixed-header-height: calc(var(--header-height) * 2);
    }

    .nav > #menu {
        order: 3;
        width: 100%;
        margin: 0;
    }
}
